<!-- <button pesapal-pay [amount]="8000" [errorMessages]="true" [iframe_width]="'100%'" [currency]="'KES'" [description]="'mandazi'" [callback_url]="'http://localhost:4200/'" [phone_number]="0712345678" [email_address]="'test@mail.com'">Pay with Pesapal
</button>

<br>
<pesapal-pay [errorMessages]="true" [amount]="999" [currency]="'KES'" [description]="'chapo'" [callback_url]="'http://localhost:4200/'" [phone_number]="0712345678" [email_address]="'test@mail.com'" [styles]="{'background-color': 'pink', 'font-size': '16px'}"
    [button_text]="'Buy me coffee'"></pesapal-pay>
 -->


<pesapal-template [buttonText]="'Pay Now'" [callback_url]="'http://localhost:4200/'"></pesapal-template>