/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.custom-pay-button {
    padding: 15px;
    background-color: pink;
    border-radius: 7px;
    border: none;
    display: flex;
    margin: 0 auto;
}